
@model LogisticsTrackingSystem.Models.User

<h2>Delete User</h2>

<h4>
    Are you sure you want to delete:
</h4>

<p>
    @Model.Username
</p>

<form asp-action="DeleteUser">

    <input type="hidden"
           asp-for="Id" />

    <button type="submit"
            class="btn btn-danger">
        Delete
    </button>

    <a asp-action="Users"
       class="btn btn-secondary">
        Cancel
    </a>

</form>
